.vs/
.idea/
*.user
*.suo
*.userprefs
*.vscode/
*.sw*

bin/
obj/
build/
[Bb]uild/
*.exe
*.dll
*.pdb
*.cache
*.dotCover


appsettings.Development.json
appsettings.Local.json
appsettings.Private.json
*.env
*.secrets

[Nn]uget/
*.nupkg
packages/
.vs/restore.dg

docker-compose.*.yml
.dockerignore
**/.docker/**
**/docker-compose-overrides/**

.dotnet/
tools/

project.lock.json
*.ncrunchsolution
*.ncrunchproject
*.dotnet/

*.log
*.tmp
*.temp
*.bak
*.pidb
*.msi
*.msix

_ReSharper.*
*.resharper
*.sln.iml

local.settings.json
.env
api\Properties\*