<div class="bloodborne-container">
  <div class="bloodborne-dark-overlay">
    <div class="bloodborne-parchment">
      <div class="bloodborne-content">
        <router-outlet></router-outlet>
      </div>
      <footer>
        <div
          class="bloodborne-menu-back"
          (click)="navigate('/home')"
          *ngIf="showBackButton"
        >
          Back
        </div>
        Made by:
        <a href="https://github.com/Hikkaruu">Hikkaru</a>│Discord:
        <a href="https://discord.com/users/503193057424965632"
          >dextermorgan2137</a
        >
      </footer>
    </div>
  </div>
</div>
