<h1 class="bloodborne-title">Bloodborne Calculator</h1>
<div class="bloodborne-separator"></div>
<p class="bloodborne-text">Welcome home, good Hunter. What is it you desire?</p>
<div class="bloodborne-separator"></div>
<div class="bloodborne-menu">
  <div class="bloodborne-menu-item" (click)="navigate('/trickster-weapons')">
    Trickster Weapons
  </div>
  <div class="bloodborne-menu-item" (click)="navigate('/firearms')">
    Firearms
  </div>
  <div class="bloodborne-menu-item" (click)="navigate('/optimal-class')">
    Optimal Class
  </div>
  <div class="bloodborne-menu-item" (click)="navigate('/bosses')">Bosses</div>
</div>
